<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Twitterトレンドまとめ</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header">
  <h1>Twitterトレンドまとめ</h1>
</div>
<div id="main">
  <p></p><!--何時何分における日本のトレンド-->
  <div id="tweet">
	<table>
		<tr>
			<td width="40%"></td><!--〜に関するツイート-->
			<td width="40%"></td><!--ここにツイート内容を入れる-->
			<td width="20%"></td><!--RT数-->
		</tr>
	</table>
  </div>
</div>
<div id="update"><button type="submit" class="btn"><input type="image" src="update.png"></button></div><!--更新ボタン-->
</body>
</html>
