<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Twitterトレンドまとめ</title>
	<link rel="stylesheet" , type="text/css" , href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	
	<div id="header">
		<div id="navi">
			<h1>Twitterトレンドまとめ</h1>
			<div id="past">
				<!--
				<p class="main_menu">過去のトレンド</p>
					<ul class="submenu">
						<li>1月1日何時何分</li>
						<li>child</li>
						<li>child</li>
					</ul>
					-->
				<forma action=”#”>
					<select name=”過去のトレンド”>
						<option>過去のトレンド</option>
						<option value=”#″><!--何月何日何時何分--></option>
						<!--valueのところにurlを貼れば、そこに飛べる-->
					</select>
				</form>
			</div>
		</div>
	</div>
	<div id="main">
		<p>{{ time }}</p>
		<!--何時何分における日本のトレンド-->
		<div id="tweet">
			<table>
				<tr>
					<th>トレンド</th>
					<th>ツイート</th>
					<th>ツイート数</th>
				</tr>
				{% for i in range(5) %}
				<tr>
					<td width="40%"><a href="https://twitter.com/search?q={{ twitter_list[i].replace('#', '%23') }}">{{
							twitter_list[i] }}</a></td>
					<!--〜に関するツイート-->
					<td width="40%">{{ top_tweet[i] }}</td>
					<!--ここにツイート内容を入れる-->
					<td width="20%">{{ tweet_list[i] }}</td>
					<!--RT数-->
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div id="update"><button type="submit" class="btn" onclick="location.href='/koushin'"><input type="image"
				src="{{ url_for('static', filename='update.png') }}"></button></div>
	<!--更新ボタン-->
</body>

</html>